
    body {
        font-family: "Dosis";
    }

    .navbar {
        font-family: "Lobster two"
    }

    .burgers {
        padding: 15px;
        border-radius: 10px;
    }

    .burgers .burger {
        margin: 15px;
    }

    .burger .btn-primary {
        background-color: #8AA2B6;
        border-color: #757C83;
    }

    .burger .btn-primary:active, .burger .btn-primary.active {
        background-color: #3071a9;
        border-color: #285e8e;
    }

    .burger .right {
        float: right;
    }








/*Options*/

main .values {
    background-color: #e7e7e7;
    padding: 15px;
    padding-right: 45px;
    border-radius: 5px;
}

main .ingredient {
    border: thin solid #e7e7e7;
    padding: 5px;
    margin-bottom: 5px;

    border-radius: 5px;
}