{% extends "base.html" %}

{% block main %}
{% verbatim %}
<main ng-app='ingredients'>
    <h1>The Burger's ingredients and varieties</h1>


    <div class='container' ng-controller='ingredientCtrl'>
    	<ul class='nav nav-pills'>
            <li><a href='#' ng-click="new_ingredient()">New ingredient</a></li>
    		<li><a href='#' ng-click="save()">Save</a></li>
    	</ul>

    	<div class='row ingredient' ng-repeat="ingredient in ingredients|orderBy:'ingredient.values.length'">
            <div class='col-sm-2'>
                <div class='input-group'>
                    <div class='input-group-addon'>Name:</div>
                    <input type='text' class='form-control' ng-model='ingredient.name' />
                </div>
            </div>

            <div class='col-sm-9'>

                <!-- Edit ingredient with values -->
                <div class='row' ng-show='ingredient.values'>
                    <div class='col-sm-4'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Default:</span>
                            <select class='form-control' ng-model='ingredient.default' ng-options="value.value as value.value for value in ingredient.values"></select>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <button class='btn btn-default' ng-click="add_value(ingredient)">Add value</button>
                    </div>
                    <div class='col-sm-6 values' ng-show="ingredient.values">
                        <div class='row value' ng-repeat='value in ingredient.values'>
                            <div class='col-sm-5'>
                                <div class='input-group'>
                                    <div class='input-group-addon'>Value[{{$index}}]:</div>
                                    <input type='text' class='form-control' ng-model='value.value' />
                                </div>
                            </div>
                            <div class='col-sm-5'>
                                <div class='input-group'>
                                    <div class='input-group-addon'>€</div>
                                    <input type='text' class='form-control' ng-model='value.price' />
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <button class='btn' ng-click="remove_value(value)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit boolean ingredient (without values) -->
                <div class='row form-inline' ng-hide='ingredient.values'>
                    <div class='checkbox'>
                        <label>Default:
                            <input type='checkbox' ng-model='ingredient.default' />
                        </label>
                    </div>
                    <button class='btn btn-default' ng-click="add_value(ingredient)">Add value</button>
                    <div class='input-group'>
                        <div class='input-group-addon'>€</div>
                        <input type='text' class='form-control' ng-model='ingredient.price' />
                    </div>
                </div>
            </div>

            <div class='col-sm-1'>
                <button class='btn' ng-click="ingredients.splice($index, 1)">Remove</button>
            </div>

            <!-- Hidden save form -->
            <form class='hidden' method='post' action='ingredients'>
                {% endverbatim %}{% csrf_token %}{% verbatim %}
                <input type='hidden' name='ingredients' value="{{ingredients}}"/>
            </form>

        </div>

    </div>
</main>

{% endverbatim %}
{% endblock %}

{% block scripts %}
	{% load staticfiles %}
	{{ block.super }}
	<script src="{% static "script/ingredients.js" %}"></script>

{% endblock %}