{% extends "base.html" %}

{% block main %}
{% verbatim %}
<main ng-app='options'>
    <h1>The Burger's ingredients and varieties</h1>


    <div class='container' ng-controller='optionCtrl'>
    	<ul class='nav nav-pills'>
            <li><a href='#' ng-click="new_option()">New option</a></li>
    		<li><a href='#' ng-click="save()">Save</a></li>
    	</ul>

    	<div class='row option' ng-repeat='option in options | orderBy:"option.name"'>
            <div class='col-sm-2'>
                <div class='input-group'>
                    <div class='input-group-addon'>Name:</div>
                    <input type='text' class='form-control' ng-model='option.name' />
                </div>
            </div>

            <div class='col-sm-9'>

                <!-- Edit option with values -->
                <div class='row' ng-show='option.values'>
                    <div class='col-sm-4'>
                        <div class='input-group'>
                            <span class='input-group-addon'>Default:</span>
                            <select class='form-control' ng-model='option.default' ng-options="value.value as value.value for value in option.values"></select>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <button class='btn btn-default' ng-click="add_value(option)">Add value</button>
                    </div>
                    <div class='col-sm-6 values' ng-show="option.values">
                        <div class='row value' ng-repeat='value in option.values'>
                            <div class='col-sm-5'>
                                <div class='input-group'>
                                    <div class='input-group-addon'>Value[{{$index}}]:</div>
                                    <input type='text' class='form-control' ng-model='value.value' />
                                </div>
                            </div>
                            <div class='col-sm-5'>
                                <div class='input-group'>
                                    <div class='input-group-addon'>€</div>
                                    <input type='text' class='form-control' ng-model='value.price' />
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <button class='btn' ng-click="remove_value(value)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit boolean option (without values) -->
                <div class='row form-inline' ng-hide='option.values'>
                    <div class='checkbox'>
                        <label>Default:
                            <input type='checkbox' ng-model='option.default' />
                        </label>
                    </div>
                    <button class='btn btn-default' ng-click="add_value(option)">Add value</button>
                    <div class='input-group'>
                        <div class='input-group-addon'>€</div>
                        <input type='text' class='form-control' ng-model='value.price' />
                    </div>
                </div>
            </div>

            <div class='col-sm-1'>
                <button class='btn' ng-click="options.splice($index, 1)">Remove</button>
            </div>

            <!-- Hidden save form -->
            <form class='hidden' method='post' action='option_values'>
                {% endverbatim %}{% csrf_token %}{% verbatim %}
                <input type='hidden' name='options' value="{{prepare_options(options)}}"/>
            </form>
        </div>

        <pre>{{ prepare_options(options) | json}}</pre>
    </div>
</main>

{% endverbatim %}
{% endblock %}

{% block scripts %}
	{% load staticfiles %}
	{{ block.super }}
	<script src="{% static "script/options.js" %}"></script>

{% endblock %}