{% extends "base.html" %}

{% block main %}
<main ng-app="order">
	{% verbatim %}
	<div class='container' ng-controller="OrderCtrl">
		<h3>1. Create some burgers.</h3>

		<div class='burgers'>
			<div class='control'>
				<button type="button" ng-click='add_burger()' class="btn btn-success">{{(order.burgers.length) ? "More burgers." : "Add a burger."}}</button>
			</div>
			<div class='burger row' ng-repeat='burger in order.burgers'>
				<div class='col-xs-8 form-inline'>
					<div class='input-group' ng-repeat='ingredient in ingredients|orderBy:"values.length"'>
						<div class='input-group' ng-show='ingredient.values'>
							<span class='input-group-addon'>{{ingredient.name}}: </span>
							<select class='form-control' ng-model='burger[ingredient.name]' ng-options='value.value as value.value for value in ingredient.values'></select>
						</div>
						<label class='btn btn-primary' ng-hide='ingredient.values' ng-model="burger[ingredient.name]" btn-checkbox>{{ingredient.name}}</label>
					</div>
				</div>

					<div class='col-xs-4 form-inline'>
 						<div class='input-group'>
 							<label class='input-group-addon' for='addrName'>Price: </label>
 							<input id='addrName' class='form-control' type='text' disabled value='{{price(burger) | currency : "€"}}'/>
 						</div>
 						<label class='remove btn btn-danger' ng-click="order.burgers.splice($index,1)">Remove</label>
					</div>
			</div>
		</div>

		<h3>2. Fill in contact details.</h3>
		<div class='form-horizontal'>
			<div class='form-group'>
				<label class='col-sm-2 control-label' for='addrName'>Name:</label>
				<div class='col-sm-10'>
					<input ng-model="order.address.name" required id='addrName' class='form-control' type='text' maxlength='20'/>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label' for='addrStreet'>Street:</label>
				<div class='col-sm-10'>
					<input ng-model="order.address.street" required id='addrStreet' class='form-control' type='text' maxlength='50'/>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label' for='addrPlace'>Place:</label>
				<div class='col-sm-10'>
					<input ng-model="order.address.place" required id='addrPlace' class='form-control' type='text' maxlength='30'/>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label' for='addrPostal'>Postal:</label>
				<div class='col-sm-10'>
					<input ng-model="order.address.postal" required id='addrPostal' class='form-control' type='text' maxlength='8'/>
				</div>
			</div>
		</div>

		<h3>3. Accept the order.</h3>
		<div class='order  col-sm-3'>
			<div class='input-group'>
				<label class='input-group-addon' for='addrName'>Total: </label>
				<input id='addrName' class='form-control' type='text' disabled value='{{total() | currency : "€"}}'/>
			</div>
		</div>

		<form class='form-horizontal' role='form' method='post' action="/order/">

			{% endverbatim %}
				{% csrf_token %}
			{% verbatim %}

			<input type='hidden' name="address" value="{{order.address}}"/>
			<input type='hidden' name="burgers" value="{{order.burgers}}"/>
			<div class='col-sm-3'>
				<button type="submit" class='btn btn-lg btn-success' ng-click="order()">Order!</button>
			</div>
		</form>
		<div class='col-sm-6'>
			<pre>{{order | json}}</pre>
		</div>
	</div>
	{% endverbatim %}
</main>
{% endblock %}


{% block scripts %}
	{% load staticfiles %}
	{{ block.super }}
	<script src="{% static "script/order.js" %}"></script>
{% endblock %}